<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raintech Open Authentication</title>
</head>
<body bgcolor="#ffffff" style="margin: 0; padding: 0; min-width: 100%;">
<table width="800" align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width: 800px; box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);">
                <tbody>
                <tr>
                    <td bgcolor="#545454" style="padding: 20px 30px 10px 30px; color: #e0e0e0;">
                        <h1 style="margin: 0; padding: 0;">Rain Technologies</h1>
                        <h2 style="margin: 0; padding: 0;">Open Authentication</h2>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#f9f9f9" style="width: 100%; max-width: 600px; padding: 30px 30px 30px 30px; border-bottom: 1px solid #f2eeed;">
                        <p>User changed password at {{ referer }}</p>
                        <p>email {{ email }}</p>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#545454" style="padding: 20px 30px 15px 30px;" class="footer">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td align="center" style="font-family: sans-serif; font-size: 14px; color: #e0e0e0;  padding-top: 10px">Raintech copyright © 2018<a href="https://raintech.su" style="color: #ffffff; text-decoration: underline; padding-top: 10px" target="_blank"> https://raintech.su</a></td>
                            </tr>
                            <tr>
                                <td align="center" style="font-family: sans-serif; font-size: 14px; color: #e0e0e0; padding-top: 10px">Contact us: millerrabin@raintech.su</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
</body>
</html>